/*Objetos del Header */
.header-container {
  margin-inline:5%;
  margin-top: 1%;
  display: flex;
  align-items: center; 
}

.header-container h2 {
  color: #0076c5; /* Verde-azulado */
  font-family: Poppins;
}

.search-bar {
  margin-left: auto; /* Lleva la barra de búsqueda a la derecha */
  width:300px;
}
.form-control {
  width: 500px; 
  height: 50px;
}
.btn-map {
  position: fixed; /* Hace que el botón se mantenga en una posición fija en la pantalla */
  bottom: 20px; /* Se asoma desde la parte inferior */
  left: -20px; /* Se posiciona fuera de la pantalla inicialmente */
  width: 100px;
  background-color: #ff7878;
  border-radius: 5px;
  height: 50px;
  font-family: Roboto;
  transition: all 0.3s ease, left 0.5s ease; /* Suaviza la transición, incluyendo el movimiento de la izquierda */
  z-index: 1000;
}

.btn-map:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  background-color: #ff5252; /* Cambia a un color más oscuro al pasar el mouse */
  left: 10px; /* Al hacer hover, el botón se mueve hacia dentro */
}


/*Banner principal con carrusel */
.banner-carousel {
  max-width: 15%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
}
.carousel-item img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius:50px;
}


/* Estilos del Navbar */
.navbar {
    background-color: #0fc1ee; /* Fondo celeste oscuro */
    padding: 10px 20px;
  }
  .navbar-brand {
    color: #fff;
    font-weight: bold; /* Negrita */
    font-size: 1.4rem; /* Tamaño de fuente más grande */
  }
  .navbar-brand-center {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 2.4rem; /* Tamaño de fuente más grande */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none; /* Elimina el subrayado */
  }
  .navbar .nav-link {
    color: #fff;
    font-weight: 600; /* Seminegrita */
    font-size: 1.2rem; /* Aumenta el tamaño de fuente */
    margin-right: 15px;
  }
  .navbar .nav-link:hover {
    color: #e0f7fa; /* Un poco más claro al hacer hover */
  }
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Botón de toggler con borde blanco */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  


/* Estilos para las noticias */
.carousel-container{
  margin-inline:5%;
  max-width: 90% !important;
}


/* Cuerpo, items del cuerpo */
.carousel-container h2 {
  color: #0076c5; 
  font-family: Poppins;
}



.news-item {
    text-align: center;
    padding: 10px;
    width: 40%; /* Mantener el tamaño reducido */
}
.news-image {
  width: 100%; /* Mantener la imagen adaptada al contenedor */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.news-text {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem; /* Mantener el tamaño de fuente reducido */
  margin-top: 5px;
  color: #333;
}
