/* Estilos del Navbar */
.navbar {
    background-color: #0fc1ee; /* Fondo celeste oscuro */
    padding: 10px 20px;
  }
  .navbar-brand {
    color: #fff;
    font-weight: bold; /* Negrita */
    font-size: 1.4rem; /* Tamaño de fuente más grande */
  }
  .navbar-brand-center {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 2.4rem; /* Tamaño de fuente más grande */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none; /* Elimina el subrayado */
  }
  .navbar .nav-link {
    color: #fff;
    font-weight: 600; /* Seminegrita */
    font-size: 1.2rem; /* Aumenta el tamaño de fuente */
    margin-right: 15px;
  }
  .navbar .nav-link:hover {
    color: #e0f7fa; /* Un poco más claro al hacer hover */
  }
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Botón de toggler con borde blanco */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  


